# Austin OIS

OIS = Officer Involved Shootings

This file is a quick EDA of the OIS file from Austin.

In [1]:
import pandas as pd

In [10]:
df = pd.read_csv('../../data/raw/ois_austin.csv')
df['Date'] = pd.to_datetime(df['Date'])
df.head().T

,0,1,2,3,4
Case #,16-1660189\n16-5024527,13-5033792\n13-2071392,16-2900369\n16-5046503\n16-5042860,11-5028251\n11-1502313,17-5049741\n17-3490320
Date,2016-06-14 00:00:00,2013-07-26 00:00:00,2016-10-16 00:00:00,2011-05-30 00:00:00,2017-12-15 00:00:00
Subject Race/Ethnicity,Hispanic,Black,White,Black,Black
Subject Gender,Male,Male,Female,Male,Male
Subject Injuries,shot (injured only),killed,killed,killed,shot (injured only)
Location 1,6000 block Cougar Dr,W 35th St/W 34th St (3500 CRAWFORD AVE),"744 W William Cannon Dr\n(30.197953, -97.789496)","800 Block E 8th St\n(39.40884, -81.431641)","5007 Lynnwood St\n(30.322115, -97.740477)"

In [12]:
df.shape

(59, 6)

In [13]:
df.isnull().sum()

Case #                    0
Date                      0
Subject Race/Ethnicity    0
Subject Gender            0
Subject Injuries          0
Location 1                0
dtype: int64

In [11]:
df['Case #'].nunique()

57

In [14]:
df['Date'].min()

Timestamp('2008-11-06 00:00:00')

In [15]:
df['Date'].max()

Timestamp('2017-12-17 00:00:00')

In [16]:
df['Subject Race/Ethnicity'].value_counts()

White       28
Black       18
Hispanic    12
Asian        1
Name: Subject Race/Ethnicity, dtype: int64

In [17]:
df['Subject Gender'].value_counts()

Male      55
Female     4
Name: Subject Gender, dtype: int64

In [25]:
df['Subject Injuries'].value_counts()
# 'None' here is literal

killed                     32
shot (injured only)        14
None                       10
injured - incidentally      2
killed (self-inflicted)     1
Name: Subject Injuries, dtype: int64

In [26]:
df['Location 1'].nunique()

56

In [32]:
df['Location 1'].head()
# most have coordinates, though

0                                6000 block Cougar Dr
1             W 35th St/W 34th St (3500 CRAWFORD AVE)
2    744 W William Cannon Dr\n(30.197953, -97.789496)
3          800 Block E 8th St\n(39.40884, -81.431641)
4           5007 Lynnwood St\n(30.322115, -97.740477)
Name: Location 1, dtype: object

In [35]:
df['Location 1'].str.contains('\n')

0     False
1     False
2      True
3      True
4      True
5      True
6      True
7      True
8      True
9      True
10     True
11     True
12     True
13     True
14     True
15     True
16     True
17     True
18     True
19     True
20     True
21     True
22     True
23     True
24     True
25     True
26     True
27     True
28     True
29     True
30     True
31     True
32     True
33     True
34     True
35     True
36     True
37     True
38     True
39     True
40     True
41     True
42     True
43     True
44     True
45     True
46     True
47     True
48     True
49     True
50     True
51     True
52     True
53     True
54     True
55     True
56     True
57     True
58     True
Name: Location 1, dtype: bool