# Check ACS sources

In this notebooks I will explore the various options for retrieving data from the ACS.

## Scope

- Department 11-00091
- Boston, Suffolk County - Massachusetts
- Tracts / Variance Tables / Microdata

[1]: https://factfinder.census.gov/faces/tableservices/jsf/pages/productview.xhtml?pid=ACS_16_5YR_S0101&prodType=table

In [1]:
import pandas as pd
from cpe_help import Census, list_departments

In [2]:
dept = list_departments()[0]
dept

Department('11-00091')

In [3]:
dept.load_guessed_state()

'25'

## Tracts

Table is here: https://factfinder.census.gov/faces/tableservices/jsf/pages/productview.xhtml?pid=ACS_16_5YR_S0101&prodType=table

No need to download.

This is also the usual format and the one that CPE gave to us.

## Microdata

Microdata won't work for this case. The examples are granular, but the location of examples not (they are regions bigger than the census tracts).

[Reference][1].

[1]: https://www.census.gov/content/dam/Census/programs-surveys/acs/guidance/training-presentations/20180214_PUMS.pdf

## Variance Replicate Tables

This is where the gold is (if estimating margin of errors is something considered valuable).

[Source][1]

[1]: https://www.census.gov/programs-surveys/acs/data/variance-tables.html

Table:

- https://www2.census.gov/programs-surveys/acs/replicate_estimates/2016/data/5-year/140/B01001_25.csv.gz

In [4]:
census = Census()

In [5]:
df = pd.read_csv(census.path / 'sample_vrt.csv.gz', compression=None)
df.head()

,TBLID,GEOID,NAME,ORDER,TITLE,estimate,moe,CME,SE,Var_Rep1,...,Var_Rep71,Var_Rep72,Var_Rep73,Var_Rep74,Var_Rep75,Var_Rep76,Var_Rep77,Var_Rep78,Var_Rep79,Var_Rep80
0,B01001,NaN,NaN,NaN,SEX BY AGE,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,B01001,NaN,NaN,NaN,Universe: Total population,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,B01001,14000US25001010100,"Census Tract 101, Barnstable County, Massachus...",1.0,Total:,2962.0,16.0,+/-16,9.0,2974.0,...,2968.0,2966.0,2966.0,2965.0,2965.0,2966.0,2954.0,2963.0,2968.0,2964.0
3,B01001,14000US25001010100,"Census Tract 101, Barnstable County, Massachus...",2.0,Male:,1595.0,174.0,+/-174,106.0,1601.0,...,1595.0,1569.0,1616.0,1650.0,1646.0,1501.0,1478.0,1638.0,1664.0,1589.0
4,B01001,14000US25001010100,"Census Tract 101, Barnstable County, Massachus...",3.0,Under 5 years,57.0,50.0,+/-50,30.0,64.0,...,63.0,79.0,83.0,56.0,70.0,51.0,48.0,55.0,45.0,33.0

In [6]:
df.shape

(72424, 89)

That's fun!